body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.col-12 {
    padding: 0;
}

.row {
    margin: 0;
}

/*--------------------------------------------Colours*/
.font-black {
    color: black;
}

.font-black:hover {
    color: grey;
    text-decoration: none;
}

/*--------------------------------------------Callout*/
.callout-container {
    height: 100vh;
    
    background-image: url("../images/monkees.jpg");
    background-size: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.callout-id:hover {
    color: rgba(158, 167, 219, 1);
    text-decoration: none;
}

/*--------------------------------------------Navbar*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1.0);
}

.bg-dark {
    background-color: transparent;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*--------------------------------------------Jumbotron*/
.jumbotron {
    background-color: transparent;
}

.jumbotron-heading {
    color: white;
    margin-bottom: 20px;
}

.jumbotron-content {
    color: white;
    margin: 10px;
    font-size: larger;
}

/*--------------------------------------------Content*/
.content-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalise {
    text-transform: capitalize
}

.location-heading {
    margin-top: 15px;
}

.section-heading {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.section-column {
    margin-bottom: 20px;
}

.textAlign-Centre {
    text-align: center;
}

.h3, h3 {
    margin: 10px;
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.four-margins30 {
    margin: 30px;
}

.font-bold {
    font-weight: bold;
}

.font-large {
    font-size: large;
}

/*--------------------------------------------Tour Section*/

.tour-icon {
    font-size: 25px;
    color: red;
}

.table {
    margin: 20px;
    vertical-align: middle;
}

#toursection-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
}

/*#tour-content {
    margin-left: 30px;
}*/

/*--------------------------------------------Audio Section*/

.audio-item {
    height: auto;
    margin-top: 50px;
    margin-left: auto;
}

#border-right {
    border-right: 1px solid black;
}

/*--------------------------------------------Subscribe*/
/*.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-bottom: 20px;
    margin-left: 30%;
} */

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 2px + 0.75rem);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1.5px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*--------------------------------------------Footer*/
footer {
    background-color: black;
}

.justify-content-center {
    margin: 20px 0;
}

.social-links li a i {
    width: 35px;
    height: 35px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: black;
    background: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.mx-auto {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.band-table {
    margin: 0 20px;
}